@use "../abstracts/variables";

.container {
  max-width: variables.$container-max-width;
  margin: 0 auto;
  padding-inline: 6.875rem;
  width: 100%;
}

.container-full-width {
  max-width: variables.$container-max-width;
  margin: 0 auto;
  width: 100%;
}
