@use "../abstracts/variables";
@use "../abstracts/mixin";

.container {
  max-width: variables.$container-max-width;
  margin: 0 auto;
  padding-inline: 6.875rem;
  width: 100%;
  @include mixin.respond(phone) {
    padding-inline: 5%;
  }
  @include mixin.respond(phone) {
    padding-inline: 5%;
  }
}

.container-full-width {
  max-width: variables.$container-max-width;
  margin: 0 auto;
  width: 100%;

  @include mixin.respond(phone) {
  }
}

.bottom-spacing {
  height: 12.5rem;
  background-color: variables.$bg-neutral-color;
}
