@mixin headingPrimary(
  $hpColor,
  $hpFontFam,
  $hpFontSize,
  $hpLineH,
  $hpLetterSpacing
) {
  color: $hpColor;
  font-family: $hpFontFam;
  font-size: $hpFontSize;
  letter-spacing: $hpLetterSpacing;
  line-height: $hpLineH;
}

@mixin headingSecondary(
  $hsColor,
  $hsFontFam,
  $hsFontSize,
  $hsLineH,
  $hsLetterSpacing
) {
  color: $hsColor;
  font-family: $hsFontFam;
  font-size: $hsFontSize;
  line-height: $hsLineH;
  letter-spacing: $hsLetterSpacing;
}

@mixin subheading(
  $shColor,
  $shFontFam,
  $shFontSize,
  $shLineH,
  $shLetterSpacing
) {
  color: $shColor;
  font-family: $shFontFam;
  font-size: $shFontSize;
  line-height: $shLineH;
  letter-spacing: $shLetterSpacing;
}

@mixin normalText(
  $txColor,
  $txFontFam,
  $txFontSize,
  $txLineH,
  $txLetterSpacing
) {
  color: $txColor;
  font-family: $txFontFam;
  font-size: $txFontSize;
  line-height: $txLineH;
  letter-spacing: $txLetterSpacing;
}

@mixin quote($qtColor, $qtFontFam, $qtFontSize, $qtLineH, $qtLetterSpacing) {
  color: $qtColor;
  font-family: $qtFontFam;
  font-size: $qtFontSize;
  line-height: $qtLineH;
  letter-spacing: $qtLetterSpacing;
}
