$container-max-width: 90rem;

$heading-primary-color: #fff;
$heading-primary-font-family: "Inter-Bold";
$heading-primary-font-size: 6.125rem;
$heading-primary-line-height: 112%;
$heading-primary-letter-spacing: -2.475px;

$heading-secondary-color: #000;
$heading-secondary-font-family: "Inter-Bold";
$heading-secondary-font-size: 5.25rem;
$heading-secondary-line-height: 98%;
$heading-secondary-letter-spacing: -1.238px;

$text-color: #000;
$text-font-family: "WorkSans-Regular";
$text-font-size: 1rem;
$text-line-height: 188%;
$text-letter-spacing: -0.408px;

$btn-dark-text-color: #fff;
$btn-dark-border: 1px solid #aaa;
$btn-dark-font-family: "WorkSans-Regular";
$btn-dark-font-size: 1.25rem;
$btn-dark-line-height: 110%;
$btn-dark-letter-spacing: -0.408px;
$btn-dark-padding: 0.75rem 2rem;
$btn-dark-text-transform: uppercase;
$btn-dark-transition: all 0.5s;

$btn-dark-hover-bgColor: #fff;
$btn-dark-hover-textColor: #000;

$bg-primary: #000;
$bg-secondary: #fff;
