@mixin btnDark(
  $bdTextColor,
  $bdBorder,
  $bdFontFamily,
  $bdFontSize,
  $bdLineHeight,
  $bdLetterSpacing,
  $bdPadding,
  $bdTextTransform,
  $bdTransition
) {
  color: $bdTextColor;
  border: $bdBorder;
  font-family: $bdFontFamily;
  font-size: $bdFontSize;
  line-height: $bdLineHeight;
  letter-spacing: $bdLetterSpacing;
  padding: $bdPadding;
  text-transform: $bdTextTransform;
  transition: $bdTransition;
}

@mixin btnDarkHover($bdhTextColor, $bdhBGColor) {
  color: $bdTextColor;
  background-color: $bdhBGColor;
}
