@use "../abstracts/variables";
@use "../abstracts/mixin";
@use "../components/buttons";

// ===============================
// FOOTER
// ===============================
.footer {
  background-color: variables.$bg-primary;

  position: relative;
  padding-bottom: 1.5rem;
  overflow: hidden;

  .footer-wrapper {
    height: 100%;
    position: relative;
  }

  .footer-subheadline {
    color: white;
    padding-block: 5.75rem 12px;
  }

  .footer-headline {
    color: white;
    padding-bottom: 2.375rem;
    font-family: "Inter-Bold";
    font-size: 1.5rem;
    line-height: 192%;
    max-width: 31.25rem;
    @include mixin.respond(tab-landscape) {
      font-size: 24px;
    }
    @include mixin.respond(tab-port) {
      font-size: 20px;
    }
    @include mixin.respond(phone) {
      font-size: 18px;
      line-height: 162%;
    }
  }

  .btn-cta {
    @include buttons.btnDark(
      variables.$btn-dark-text-color,
      variables.$btn-dark-border,
      variables.$btn-dark-font-family,
      variables.$btn-dark-font-size,
      variables.$btn-dark-line-height,
      variables.$btn-dark-letter-spacing,
      variables.$btn-dark-padding,
      variables.$btn-dark-text-transform,
      variables.$btn-dark-transition
    );
    @include mixin.respond(tab-port) {
      display: inline-block;
      margin-bottom: 5.375rem;
    }
    @include mixin.respond(phone) {
      font-size: 18px;
      margin-bottom: 3rem;
    }
    @include mixin.respond(sm-phone) {
      margin-bottom: 2rem;
    }
  }

  .btn-cta:hover {
    background-color: variables.$btn-dark-hover-bgColor;
    color: variables.$btn-dark-hover-textColor;
  }

  .social-media {
    margin-block: 90px 10px;
    display: flex;
    column-gap: 10px;
  }

  .social-media a:hover {
    opacity: 0.5;
  }

  .social-media a img {
    width: 1rem;
    height: 1rem;
  }

  .copyright {
    color: white;
    font-family: "WorkSans-Regular";
  }

  .copyright span {
    display: inline-block;
    margin-top: 10px;
  }

  .badges {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .badges img:nth-of-type(1) {
    width: 50px;
    height: 28px;
  }

  .badges img:nth-of-type(2) {
    width: 50px;
    height: 15px;
  }

  .text-animation {
    background-color: white;
    font-size: 90px;
    font-family: "Inter-Bold";
    color: black;
    position: absolute;
    transform: rotate(45deg);
    width: 2500px;
    left: -120px;
    top: 250px;
    bottom: 260px;

    @include mixin.respond(tab-landscape) {
      left: -360px;
    }

    @include mixin.respond(tab-port) {
      display: block;
      transform: none;
      left: -400px;
      top: 410px;
      bottom: 130px;
      width: 2000px;
    }

    @include mixin.respond(phone) {
      font-size: 64px;
      left: -370px;
      top: 360px;
      bottom: 130px;
    }
    @include mixin.respond(sm-phone) {
      font-size: 48px;
      left: -370px;
      top: 390px;
      bottom: 140px;
    }
  }

  .text-animation p {
    transition: transform 1s linear;
    animation: textflow 7s linear infinite;
    text-transform: uppercase;
    font-family: "Inter-Bold";
    font-weight: 700px;
  }

  .text-animation p span {
    color: white;
    text-shadow: -2px 0 0 #555, 0 -1px 0 #555, 2px 0 0 #555, 0 1px 0 #555;
  }

  @keyframes textflow {
    0% {
      transform: translatex(0);
    }
    25% {
      transform: translatex(-400px);
    }
    75% {
      transform: translatex(0px);
    }
    75% {
      transform: translatex(400px);
    }
    100% {
      transform: translatex(0);
    }
  }
}
