@use "../abstracts/variables";

.header {
  height: 44.1875rem;
  background-color: variables.$bg-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.calling {
  height: 38.5625rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.vertical-divider {
  display: inline-block;
  height: 9.375rem;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 2.625rem;
}

.header-sub-headline {
  font-family: variables.$text-font-family;
  font-size: 0.75rem;
  letter-spacing: -0.5px;
}

.header-headline {
  font-family: variables.$heading-primary-font-family;
}

.header-text {
  font-family: variables.$text-font-family;
}
