@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body a {
  text-decoration: none;
  color: white;
}
body .heading-primary {
  color: #fff;
  font-family: "Inter-Bold";
  font-size: 6.125rem;
  letter-spacing: -2.475px;
  line-height: 112%;
}
body .heading-secondary {
  color: #000;
  font-family: "Inter-Bold";
  font-size: 5.25rem;
  line-height: 98%;
  letter-spacing: -1.238px;
}
body .subheading {
  color: #000;
  font-family: "WorkSans-Regular";
  font-size: 1.25rem;
  line-height: 150%;
  letter-spacing: -0.408px;
}
body .normal-text {
  color: #000;
  font-family: "WorkSans-Regular";
  font-size: 1rem;
  line-height: 188%;
  letter-spacing: -0.408px;
}
body .quote {
  color: #000;
  font-family: "Inter-Bold";
  font-size: 1.75rem;
  line-height: 116%;
  letter-spacing: -0.408px;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: "WorkSans-Regular";
  src: url("../fonts/WorkSans-Regular.ttf");
}
.container {
  max-width: 90rem;
  margin: 0 auto;
  padding-inline: 6.875rem;
  width: 100%;
}

.container-full-width {
  max-width: 90rem;
  margin: 0 auto;
  width: 100%;
}

.bottom-spacing {
  height: 12.5rem;
  background-color: #f5f5f5;
}

.footer {
  background-color: #000;
  min-height: 38.75rem;
  position: relative;
  padding-bottom: 1.5rem;
  overflow: hidden;
}
.footer .footer-wrapper {
  height: 100%;
  position: relative;
}
.footer .footer-subheadline {
  color: white;
  padding-block: 5.75rem 1.75rem;
}
.footer .footer-headline {
  color: white;
  margin-bottom: 2.375rem;
  font-family: "Inter-Bold";
  font-size: 1.5rem;
  line-height: 192%;
  max-width: 31.25rem;
}
.footer .btn-cta {
  color: #fff;
  border: 1px solid #aaa;
  font-family: "WorkSans-Regular";
  font-size: 1.25rem;
  line-height: 110%;
  letter-spacing: -0.408px;
  padding: 0.75rem 2rem;
  text-transform: uppercase;
  transition: all 0.5s;
}
.footer .btn-cta:hover {
  background-color: #fff;
  color: #000;
}
.footer .social-media {
  margin-block: 90px 10px;
}
.footer .social-media img {
  width: 1rem;
  height: 1rem;
}
.footer .copyright {
  color: white;
  font-family: "WorkSans-Regular";
}
.footer .copyright span {
  display: inline-block;
  margin-top: 10px;
}
.footer .badges {
  position: absolute;
  right: 0;
  bottom: 0;
}
.footer .badges img:nth-of-type(1) {
  width: 50px;
  height: 28px;
}
.footer .badges img:nth-of-type(2) {
  width: 50px;
  height: 15px;
}
.footer .text-animation-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.footer .text-animation {
  background-color: white;
  font-size: 90px;
  font-family: "Inter-Bold";
  color: black;
  position: absolute;
  transform: rotate(45deg);
  width: 2500px;
  left: -120px;
  top: 250px;
  bottom: 260px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.footer .text-animation p {
  transition: transform 1s linear;
  animation: textflow 10s linear infinite;
  text-transform: uppercase;
  font-family: "Inter-Bold";
  font-weight: 700px;
}
.footer .text-animation p span {
  color: white;
  text-shadow: -2px 0 0 #555, 0 -1px 0 #555, 2px 0 0 #555, 0 1px 0 #555;
}
@keyframes textflow {
  0% {
    transform: translatex(0);
  }
  25% {
    transform: translatex(400px);
  }
  75% {
    transform: translatex(0px);
  }
  75% {
    transform: translatex(-400px);
  }
  100% {
    transform: translatex(0);
  }
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--12-cols {
  grid-template-columns: repeat(12, 1fr);
}

.header {
  height: 44.1875rem;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header .calling {
  height: 38.5625rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.header .vertical-divider {
  display: inline-block;
  height: 9.375rem;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 2.625rem;
}
.header .header-sub-headline {
  font-family: "WorkSans-Regular";
  font-size: 0.75rem;
  letter-spacing: -0.5px;
  margin-bottom: 1rem;
}
.header .header-headline {
  font-family: "Inter-Bold";
  font-size: 4rem;
  line-height: 80%;
  text-transform: uppercase;
  text-align: center;
}
.header .header-headline span {
  color: black;
  text-shadow: -1px 0 0px white, 0 1px 0px white, 1px 0 0px white, 0 -1px 0px white;
}
.header .header-text {
  font-family: "WorkSans-Regular";
  font-size: 0.75rem;
  letter-spacing: -0.5px;
  margin-top: 1rem;
}

.nav-items {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
}
.nav-items .btn-cta {
  color: #fff;
  border: 1px solid #aaa;
  font-family: "WorkSans-Regular";
  font-size: 1.25rem;
  line-height: 110%;
  letter-spacing: -0.408px;
  padding: 0.75rem 2rem;
  text-transform: uppercase;
  transition: all 0.5s;
}
.nav-items .btn-cta:hover {
  background-color: #fff;
  color: #000;
}

.section--story-wrap {
  background-color: #000;
  position: relative;
  padding-block: 7.5rem 6.25rem;
}
.section--story-wrap .story-wrap--headline {
  max-width: 67.5rem;
  margin-bottom: 6.25rem;
}
.section--story-wrap .story-wrap--item {
  color: white;
}
.section--story-wrap .item-headline {
  margin-bottom: 0.375rem;
  font-family: "WorkSans-Regular";
  font-size: 0.875rem;
}
.section--story-wrap .item-info-text {
  font-family: "Inter-Bold";
  font-size: 5.375rem;
  line-height: 126%;
  letter-spacing: -0.1547rem;
  margin-bottom: 1.125rem;
}
.section--story-wrap .story-wrap-img {
  width: 28rem;
  overflow: hidden;
  position: absolute;
  bottom: 100px;
  right: 0;
}

.section-action > .container-full-width {
  min-height: 116.625rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.section-action > .container-full-width .action--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 28.125rem;
  margin-top: 25.625rem;
}
.section-action > .container-full-width .content-headline {
  margin-bottom: 1.5rem;
}
.section-action > .container-full-width .content-text:nth-of-type(2) {
  margin-top: 42.5rem;
}
.section-action > .container-full-width .content-img {
  width: 100%;
  max-width: 27.5rem;
  max-height: 18.75rem;
  position: absolute;
}
.section-action > .container-full-width .content-img:nth-of-type(1),
.section-action > .container-full-width .content-img:nth-of-type(4),
.section-action > .container-full-width .content-img:nth-of-type(5) {
  max-width: 20.625rem;
}
.section-action > .container-full-width .content-img:nth-of-type(2),
.section-action > .container-full-width .content-img:nth-of-type(3),
.section-action > .container-full-width .content-img:nth-of-type(6) {
  max-width: 17.5rem;
}
.section-action > .container-full-width .content-img:nth-of-type(1) {
  top: -80px;
  right: 110px;
}
.section-action > .container-full-width .content-img:nth-of-type(2) {
  top: 280px;
  left: 54px;
}
.section-action > .container-full-width .content-img:nth-of-type(3) {
  top: 665px;
  right: 0px;
}
.section-action > .container-full-width .content-img:nth-of-type(4) {
  bottom: 770px;
  left: 220px;
}
.section-action > .container-full-width .content-img:nth-of-type(5) {
  bottom: 583px;
  right: 164px;
}
.section-action > .container-full-width .content-img:nth-of-type(6) {
  bottom: 320px;
  left: 0px;
}
.section-action > .container-full-width .content-img:nth-of-type(7) {
  bottom: -70px;
  right: 274px;
  z-index: -1;
}

.section-golden-bear {
  background-color: #000;
  min-height: 75.75rem;
  padding-top: 10.5rem;
  position: relative;
  margin-bottom: 25.75rem;
}
.section-golden-bear .headline-wrapper p {
  color: white;
  margin-bottom: 0.75rem;
}
.section-golden-bear .golden-bear-headline {
  color: white;
}
.section-golden-bear .golden-bear-quote-wrapper {
  align-self: center;
  max-width: 32.5rem;
}
.section-golden-bear .golden-bear-text {
  color: white;
  font-size: 1.75rem;
  margin-top: 2rem;
}
.section-golden-bear .author {
  display: inline-block;
  color: white;
  margin-top: 1.25rem;
}
.section-golden-bear .golden-bear-img {
  height: 100%;
  width: 100%;
}
.section-golden-bear .golden-bear-img:nth-of-type(1) {
  max-width: 731px;
  max-height: 731px;
  position: absolute;
  left: 109px;
  bottom: -167px;
}
.section-golden-bear .golden-bear-img:nth-of-type(2) {
  max-width: 366px;
  max-height: 473px;
  position: absolute;
  left: 778px;
  bottom: -75px;
}
.section-golden-bear .circle-animation-wrapper {
  position: absolute;
  right: 0px;
  bottom: -318px;
  overflow: hidden;
  width: 390px; /* Die Hälfte der ursprünglichen Breite */
  height: 500px; /* Die ursprüngliche Höhe */
  z-index: -1;
}
.section-golden-bear .circle-animation {
  position: absolute;
  left: 0px; /* Keine Verschiebung notwendig, um die linke Hälfte sichtbar zu machen */
  width: 500px;
  height: 500px;
}
.section-golden-bear .circle-animation img {
  width: 500px;
  height: 500px;
  animation: rotating 10s linear infinite;
}
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.section-poppy-bear {
  background-color: #f5f5f5;
  min-height: 64.1875rem;
  padding-top: 1.25rem;
  position: relative;
}
.section-poppy-bear .headline-wrapper p {
  color: black;
  margin-bottom: 0.75rem;
}
.section-poppy-bear .poppy-bear-headline {
  color: black;
}
.section-poppy-bear .poppy-bear-quote-wrapper {
  align-self: center;
  max-width: 32.5rem;
  margin-top: 0.75rem;
}
.section-poppy-bear .poppy-bear-text {
  color: black;
  font-size: 1.75rem;
  margin-top: 2rem;
}
.section-poppy-bear .author {
  display: inline-block;
  color: black;
  margin-top: 1.25rem;
}
.section-poppy-bear .poppy-bear-img {
  height: 100%;
  width: 100%;
}
.section-poppy-bear .poppy-bear-img:nth-of-type(1) {
  max-width: 366px;
  max-height: 473px;
  position: absolute;
  left: 172px;
  bottom: -76px;
  z-index: 1;
}
.section-poppy-bear .poppy-bear-img:nth-of-type(2) {
  max-width: 731px;
  max-height: 731px;
  position: absolute;
  left: 475px;
  bottom: -167px;
}

/*# sourceMappingURL=style.css.map */
